h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 2px;
}

img {
  height: 300px;
}

.form-check {
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 5px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px;
}
